
<nav>
  <section>
    <p><a href="/chords">Chord Generator</a>
    <span class="bullet">&bull;</span>
    <a href="/scales">Scale Generator</a></p>
  </section>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <section>
    <p>Graphic design is my passion.
      <span class="bullet">&bull;</span>
      Built by <a href="https://mlewicki.me">Maciej Lewicki</a> using <a href="https://angular.io"><i class="fab fa-angular"></i>Angular</a>
      <span class="bullet">&bull;</span>
      Code available on <a href="https://github.com/mlewicki12/angular-chord-generator"><i class="fab fa-github-alt"></i>Github</a></p>
  </section>
</footer>
