
main, footer {
  width: 50%;
}

@media (max-width: 950px) {
  main, footer {
    width: 90% !important;
  }
}

footer {
  p {
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .bullet {
    padding: 0 10px;
  }
}