
div {
  background-color: #FFFFFF;
  width: max-content;
  height: max-content;
  padding: 10px;

  border: 1px inset black;
}

ul {
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;

  margin: 0;
  padding: 0;
}