
<section *ngIf="mode === 'menu'">
  <h1>Chord Generator</h1>
  <hr />
  <p>
    This little tool will generate a list of chord shapes for you.
    Simply input the tuning you're using as well as the chord you're looking
    for and press 'Generate' when you're ready. Use the '+' and '-' buttons
    to add and remove notes from tuning/chord.
  </p>

  <h2>Tuning</h2>
  <hr />
  <p>Put in the tuning you're using.</p>
  <div class="input-note">
    <button class="button-web" (click)="removeString()">-</button>
    <div class="input-text">
      <input *ngFor="let string of tuning; let i = index" type="text" [ngModel]="string.note" (change)="update($event, i, tuning)"/>
    </div>
    <button class="button-web" (click)="addString()">+</button>

    <div class="button-mobile">
      <button (click)="removeString()">-</button>
      <button (click)="addString()">+</button>
    </div>
  </div>

  <h2>Chord</h2>
  <hr />
  <p>
    Put in the chord you want to find shapes for.
    Shape mode will let you pick a specific chord shape,
    while Note mode will allow you to customise each note.
  </p>
  <div *ngIf="selectMode === 'note'" class="input-note">
    <button class="button-web" (click)="removeChord()">-</button>
    <div class="input-text">
      <input *ngFor="let string of chord; let i = index" type="text" [ngModel]="string.note" (change)="update($event, i, chord)"/>
    </div>
    <button class="button-web" (click)="addChord()">+</button>

    <div class="button-mobile">
      <button (click)="removeChord()">-</button>
      <button (click)="addChord()">+</button>
    </div>
  </div>

  <div *ngIf="selectMode === 'shape'" class="input-shape">
    <div class="select">
      <select name="notes" [(ngModel)]="shapeNote">
        <option *ngFor="let note of notes" [value]="note">{{note}}</option>
      </select>
    </div>

    <div class="select">
      <select name="shapes" [(ngModel)]="shapeChord">
        <option *ngFor="let shape of chords" [value]="shape.key">{{shape.key}}</option>
      </select>
    </div>
  </div>
  <div class="tab-holder">
    <button class="tab" (click)="setShapeSelect()" [attr.selected]="selectMode === 'shape' ? '' : null">Shape mode</button>
    <button class="tab" (click)="setNoteSelect()" [attr.selected]="selectMode === 'note' ? '' : null">Note mode</button>
  </div>

  <hr class="mt-0" />
  <button (click)="submit()">Generate</button>
</section>

<section *ngIf="mode === 'chords'">
  <h1>Chord</h1>
  <div class="input-text">
    <input *ngFor="let string of chordArray;" type="text" [ngModel]="string" disabled />
  </div>
  <button (click)="back()">Back</button>
</section>

<section *ngIf="mode === 'chords'">
  <app-chordlist [strings]="tuningArray" [chord]="chordArray"></app-chordlist>
</section>