
.tab-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 90%;

  .tab {
    border: unset;

    padding: 0.5rem;
    margin: 0 0.5rem;

    text-align: center;
    cursor: pointer;

    background-color: darken(#F2EECB, 5%) !important;
  }

  .tab:hover {
    background-color: darken(#F2EECB, 15%) !important;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .tab[selected] {
    background-color: #F2EECB !important;
    transition-duration: 0.75s;
    cursor: auto;
  }

  .tab:not([selected]) {
    border: 1px dashed black;
    border-bottom: unset;
  }
}

.mt-0 {
  margin-top: 0;
}